<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>QUI SUIS-JE ?</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p>
          <ul>
            <li>Une femme, une personne comme vous, comme moi...</li>
            <li>Une personne enthousiaste et positive qui a cherché sa voie et qui a voulu donner du Sens à sa vie...</li>
            <li>Une personne qui dès l'adolescence se levait à l'aurore pour suivre ses premiers cours de psychologie et découvrir Einstein et autres grands penseurs, illuminateurs, philosophes, inventeurs...</li>
            <li>Une personne passionnée par tout ce qui touche aux limites du possible, de l’imaginable, qui sait que l’on utilise qu'une partie infime de notre potentiel...qui vous invite à l'émergence...</li>
            <li>Aujourd'hui Maître Praticienne après deux années de formation intensive dans l'étude et dans la pratique au sein de l'académie de coaching mental de Michel Villacorta...</li>
            <li>Une personne qui croit en elle, qui croit en les autres...parce qu'elle a fait le chemin, le chemin le plus difficile, celui du héros avant de pouvoir prétendre aider les autres...</li>
            <li>Une personne qui ne fait pas que croire car bien des croyances sont limitantes....</li>
            <li>Une personne qui sait que tout le monde à en soi toutes les ressources nécessaires pour y arriver, et qui va vous le prouver...</li>
            <li>Une personne comme vous...pour vous...aujourd'hui... pour votre solution pour demain...</li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</section>
