    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <a href="#portfolioModal-video-intro" class="portfolio-link success" data-toggle="modal">
                      <img class="img-responsive img-circle" src="img/coaching3d.jpg" alt="">
                    </a>
                    <div class="intro-text">
                        <span style="color: #16A3A9;" class="name">{{ site.title-part1 }}<span style="color: #8F8F8F;"> {{ site.title-part2 }}</span></span>
                        <span style="color: #8F8F8F;" class="slogan"> {{site.slogan}}</span>
                        <hr class="star-light">
                        <span class="skills">Maître Praticienne - Coach Mental</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
