 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.issue }}</h2>
                            <hr class="star-primary">
                            <img id="modal-image-{{ post.modal-id }}" src="img/portfolio/{{ post.img }}" class="img-responsive img-centered img-circle" alt="{{ post.alt }}">
                            <blockquote>{{ post.description }}</blockquote>
                           
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>Revenir au site</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <script type="text/javascript">
                $.ajax({
                    url: 'http://api.randomuser.me/',
                    dataType: 'json',
                    success: function(data){
                        console.log(data);
                        console.log(data.results[0].user.picture.medium);
                        $("#image-{{post.modal-id}}").attr('src',data.results[0].user.
                            picture.medium);
                        $("#modal-image-{{post.modal-id}}").attr('src',data.results[0].user.picture.large);
                    }
                });
                </script>
{% endfor %}