<section class="success" id="what">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>QU’EST-CE QUE C'EST ?</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <img src="img/lifecoaching.jpg" class="img-responsive img-rounded img-text" />
        <p>
          On entend parler du coaching un peu partout, beaucoup de professionnels se forment au coaching afin de les aider dans leur travail. En effet le coaching est à la mode, c'est un « Concept », mais le coaching mental est bien plus que cela.
          <p>
            Le coaching mental est du "changement génératif " et du " développement personnel".
          </p>
          <p>
            Le coaching mental n'est pas une psychothérapie, il n'y a pas de traitement prescrit. Le coaching mental se place dans une dynamique de construction et d'amélioration orientée vers un futur positif.
          </p>
          <p>Le coach mental recherche les ressources et les processus permettant d'aller vers un mieux-être. Il décode les stratégies.</p>
          <p>
            On peut dès lors définir le coaching mental comme un outil qui conduit quelqu'un à se fixer des objectifs et à mobiliser ses ressources pour y parvenir.
          </p>
          <h4>
            Pourquoi dit-on coaching mental ?
          </h4>
          <p>
            Je pratique un coaching inspiré de celui conçu par mon formateur Michel Villacorta, lui même forgé aux USA entre autres par R. Bandler créateur de la programmation- neuro-linguistique (PNL).
          </p>
          <p>
            Ce type de coaching utilise donc la PNL, l'hypnose éricksonienne et conversationnelle, le décodage de la communication verbale et non-verbale, la sophrologie et le langage métaphorique.
          </p>
          <p>
            Mental parce que axé sur les processus mentaux qui influent nos comportements, nos émotions, nos choix, notre ressenti et notre manière d'être.
          </p>
          <p>
            Le Mental est un des facteurs de la performance humaine qui permet d'atteindre son objectif, d'optimiser sa réussite, de faire émerger des ressources insoupçonnées et donc de se surpasser, d'aller très vite vers le changement.
          </p>
          <p>
            Le coaching mental est LE SEUL qui intervient à un niveau profond. L'hypnose permet aux personnes de se connecter à elles-mêmes, d'accéder à leur inconscient.
          </p>
          <p>
            Les techniques classiques travaillent les structures de surface et lorsque celles-ci ne fonctionnent pas, sont trop lourdes, fastidieuses, demandent beaucoup de temps, d'énergie, d'argent, se révèlent contre-productives, le coaching mental est l'outil
            qui peut amener les nouvelles solutions créatives et insoupçonnées.
          </p>
          <p>
            Mon coaching est adapté à la demande du client et donc unique pour tous. Je suis supervisée en groupe et donc je vous assure d'un travail de qualité adapté à vos besoins.
          </p>
          <p>
            Basé sur la confiance mutuelle, le coaching peut avoir plusieurs approches, il existe des méthodes différentes pour coacher...parce que ...
          </p>
          <p>
            ..." Important = Intervention + Résultat".
          </p>
      </div>
    </div>
</section>
