<section id="whoandwhy">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Pour qui et pour quoi faire ?</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p>
          Le coaching mental s'adresse à toute personne qui en fait la demande, qui sait ce qu'elle veut ou du moins qui sait ce qu'elle ne veut plus.
        </p>
        <p>
          Si vous avez envie d'y arriver c'est <b>LE PREMIER PAS</b> vers votre solution, votre futur.
        </p>
        <p>
          Cependant, si vous souffrez d'une pathologie , si vous avez un traitement médical lourd, je vous demanderais de vous adresser à votre médecin et de revenir vers moi lorsque celui-ci posera un avis favorable à la collaboration d'un coach mental.
        </p>
        <p>Pour quoi faire? Voici quelques exemples:</p>
        <p>
          <ul>
            <li>Explorer votre problème</li>
            <li>Si vous vous sentez sans ressources, sans espoir ou sans valeur</li>
            <li>Préparer votre mental à vous dépasser, optimiser votre motivation</li>
            <li>Vous aider à en finir avec le tabac, l’alcool ou toute dépendance qui vous nuit (sexe, jeu,…)</li>
            <li>Accompagner un deuil, il y a de multiples deuils, le deuil de personnes, de choses, de son emploi, de son statut, etc...</li>
            <li>Accompagner des projets personnels ou professionnels</li>
            <li>Gérer une phobie</li>
            <li>Gérer vos relations au sein de votre couple</li>
            <li>Aider la communication ( par ex: prise de parole en public)</li>
            <li>Epanouissement de votre vie amoureuse</li>
            <li>Recadrer votre rapport à l'argent</li>
            <li>Aider à atteindre votre objectif dans le désir de perdre du poids</li>
            <li>Déterminer votre objectif, aider à l'atteindre</li>
            <li>Définir vos réels besoins</li>
            <li>Améliorer le sommeil</li>
            <li>Gérer le stress</li>
            <li>Vous permettre de rêver votre futur</li>
            <li>Apprendre des techniques de relaxations et de visualisations</li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</section>
