<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" class="index">
     {% include js.html %}
    {% include nav.html %}
    {% include header.html %}
    {% include about.html %}
    {% include what.html %}
    {% include whoandwhy.html %}
    {% include concept.html %}
    {% include portfolio_grid.html %}


    {% if site.contact == "static" %}
    {% include contact_static.html %}
    {% else %}
    {% include contact.html %}
    {% endif %}

    {% include footer.html %}
    {% include modals.html %}

    </body>
</html>
